* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* global colors */
  --paragraph-color: #666;
  --span-color: #999;

  /* search colors */
  --search-color: #333;
  --input-border-color: #ccc;
  --input-focus-border-color: #007bff;
  --search-box-shadow-color: rgba(0, 123, 255, 0.5);

  /* card color:  */
  --card-box-shadow-color: rgba(0, 0, 0, 0.2);
  --card-border-color: #ddd;
  --no-cover-color: #f0f0f0;
  --card-background-color: #f9f9f9;

  /* loaders and no result colors */

  --no-result-color: #292323;
}
