.book-card {
  padding: 20px;

  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;

    .card {
      cursor: pointer;
      background-color: var(--card-background-color);
      border: 1px solid var(--card-border-color);
      border-radius: 8px;
      padding: 10px;
      transition:
        transform 0.2s,
        box-shadow 0.2s;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 2px 4px var(--card-box-shadow-color);

      &&:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px var(--card-box-shadow-color);
      }

      &&::after {
        content: "";
        display: block;
        clear: both;
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        border-radius: 15px;
      }
      .no-cover {
        width: 100%;
        height: 250px;
        background: var(--no-cover-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--span-color);
      }

      .book-author-info {
        padding: 15px;

        h3 {
          margin: 0 0 0.8rem 0;
          font-size: 1rem;
          font-weight: 600;
          min-height: 40px;
          text-overflow: ellipsis;
        }

        p {
          margin: 8px 0;
          font-size: 0.6rem;
          color: var(--span-color);
        }
      }

      p {
        font-size: 0.9rem;
        color: var(--paragraph-color);
      }
    }
  }

  .no-books {
    text-align: center;
    padding: 40px;
    color: var(--span-color);
  }
}
