.search-books {
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?auto=format&fit=crop&w=1400&q=80")
    no-repeat center center fixed;
  background-size: cover;
  position: relative;
  color: var(--paragraph-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .intro-text {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    max-width: 600px;
  }

  h1 {
    font-size: 4rem;
    color: var(--text-color);
  }

  p,
  span {
    color: var(--text-color);
  }

  .no-result {
    color: var(--no-result-color);
    font-weight: bold;
  }

  .search-results {
    p {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
