.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  .load-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    p {
      color: var(--paragraph-color);
      font-size: 1rem;
    }
  }
}
